.main-background {
    background: url(./../../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-container{
    height: 500px;
    width: 850px;
}

.barcelona-img{
    background: url(./../../assets/escudo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}