<div class="container-fluid vh-100 main-background">
    <div class="row header">
        <div class="col bg-dark d-flex justify-content-center align-items-center text-white">
            <div>
                <img class="rounded-circle barcelona-icon" [src]="barcelonaIcon">
            </div>
            <div class="mt-1 ms-4">
                <h3>F.C. Barcelona.</h3>
            </div>
        </div>
    </div>
    <div class="row header mt-5 ms-2">
        <div class="col d-flex justify-content-center align-items-center ms-2">
            <div class="input-group mb-0 d-flex justify-content-start ms-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                </div>
                <form class="w-50" [formGroup]="playerFilteredForm" (keyup)="filterPlayers(playerFilteredForm)">
                    <input type="text" class="form-control" placeholder="Buscar jugador por nombre"
                        formControlName="nameToFilter">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2 ps-5 pe-5">
        <form [formGroup]="addPlayerForm" (ngSubmit)="addPlayer(addPlayerForm)">
            <div
                class="row control-panel d-flex justify-content-center align-items-center border-top rounded-top border-start border-end">
                <div class="col-4 ">
                    <label class="fw-bold" for="Nombre">Nombre</label>
                    <input type="text" class="form-control mt-1" placeholder="Introduce un nombre para el jugador"
                        formControlName="name" id="Nombre" name="Nombre">
                </div>
                <div class="col-4 ">
                    <label class="fw-bold" for="Edad">Edad</label>
                    <input type="text" class="form-control mt-1" placeholder="Introduce la Edad" formControlName="age"
                        id="Edad" name="Edad">
                </div>
                <div class="col-4 ">
                    <label class="fw-bold" for="Numero">Nº de camiseta</label>
                    <input type="text" class="form-control mt-1" placeholder="Introduce el número camiseta"
                        formControlName="number" id="Numero" name="Numero">
                </div>
            </div>
            <div
                class="row control-panel d-flex justify-content-center align-items-center border-bottom rounded-bottom border-start border-end pb-4">
                <div class="col-4">
                    <label class="fw-bold" for="Posicion">Posición</label>
                    <input type="text" class="form-control mt-1" placeholder="Introduce la posición que juega"
                        formControlName="position" id="Posicion" name="Posicion">
                </div>
                <div class="col-4 mt-3">
                    <input class="btn btn-secondary mt-2 w-100" type="file" (change)="handleFileInput($event)"
                         id="Image" name="Image">
                </div>
                <div class="col-4 text-end mt-3">
                    <button type="submit" class="btn btn-dark mt-3 w-25">Añadir</button>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col">{{players.length}} Resultado/s</div>
        </div>
        <div class="row mt-4">
            <div class="card me-1 mt-3 text-uppercase player-card" *ngFor="let player of players">
                <img class="card-img-top card-player-format" src="{{player.url}}">
                <div class="card-body">
                    <div class="text-center mt-2">
                        <h5 class="card-title">{{player.name}}</h5>
                    </div>
                    <div class="mt-4">
                        <p class="card-text">Número de camiseta: {{player.number}}</p>
                        <p class="card-text">Posición: {{player.position}}</p>
                    </div>

                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header text-uppercase">
                            <h4 class="modal-title" id="modal-basic-title">{{player.name}}</h4>
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="d('Cross click')"></button>
                        </div>
                        <div class="modal-body text-uppercase">
                            <p class="card-text">Número de camiseta: {{player.number}}</p>
                            <p class="card-text">Edad: {{player.age}}</p>
                            <p class="card-text">Posición: {{player.position}}</p>
                        </div>
                    </ng-template>
                    <button class="btn btn-dark mt-3" (click)="openVerticallyCentered(content)">Ver</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 footer-players"></div>
</div>