.header {
  height: 60px;
}

.control-panel {
  height: 100px;
}

.footer-players {
  height: 10px;
}

.barcelona-icon {
  width: 40px;
  height: 40px;
}

.player-card{
    width: 18rem;
}

.card-player-format{
  height: 160px;
}